{% extends "base_signed_out.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
<form method="POST" align="center">
    <h3>
        Sign in
    </h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               id="username"
               name="username"
               class="form-control"
               placeholder="Enter Username"/>

        <br>

        <label for="password">Password</label>
        <input type="text"
               id="password"
               name="password"
               class="form-control"
               placeholder="Enter Password"/>
        <br>
        <div align="center">
        <button class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>
<br>
<p class="text-shadow">No account yet?<br><a href="/signup">Sign up</a> here</p>
{% endblock %}
